In [1]:
import pandas as pd

In [10]:
df2 = pd.read_csv('/Users/jin/code/TF-recomm/data/assist/skill_builder_data_corrected.csv', engine='python')

In [42]:
df = df2

In [45]:
len(df), len(df['order_id'].unique())

(401756, 346860)

In [48]:
df[['order_id', 'user_id', 'problem_id', 'correct', 'attempt_count', 'skill_id', 'skill_name', 'opportunity', 'opportunity_original']]

,order_id,user_id,problem_id,correct,attempt_count,skill_id,skill_name,opportunity,opportunity_original
0,33022537,64525,51424,1,1,1.0,Box and Whisker,1,1
1,33022709,64525,51435,1,1,1.0,Box and Whisker,2,2
2,35450204,70363,51444,0,2,1.0,Box and Whisker,1,1
3,35450295,70363,51395,1,1,1.0,Box and Whisker,2,2
4,35450311,70363,51481,0,14,1.0,Box and Whisker,3,3
5,35450555,70363,51457,1,1,1.0,Box and Whisker,4,4
6,35450573,70363,51459,1,1,1.0,Box and Whisker,5,5
7,35480603,70363,51408,1,1,1.0,Box and Whisker,6,6
8,33140811,70677,51453,1,1,1.0,Box and Whisker,1,1
9,33140919,70677,51397,1,1,1.0,Box and Whisker,2,2
10,33275447,70695,51434,1,1,1.0,Box and Whisker,1,1
11,33275494,70695,51473,1,1,1.0,Box and Whisker,2,2
12,35222057,70699,51430,1,1,1.0,Box and Whisker,1,1
13,35222063,70699,51436,1,1,1.0,Box and Whisker,2,2
14,32871676,70707,51421,1,1,1.0,Box and Whisker,1,1
15,32871682,70707,51396,1,1,1.0,Box and Whisker,2,2
16,33140490,70727,51408,1,1,1.0,Box and Whisker,1,1
17,33140547,70727,51402,1,1,1.0,Box and Whisker,2,2
18,33392795,70729,51454,0,2,1.0,Box and Whisker,1,1
19,33392817,70729,51460,1,1,1.0,Box and Whisker,2,2
20,33392838,70729,51425,0,2,1.0,Box and Whisker,3,3
21,33392907,70729,51468,1,1,1.0,Box and Whisker,4,4
22,33392928,70729,51400,1,1,1.0,Box and Whisker,5,5
23,20421232,70730,51463,0,2,1.0,Box and Whisker,1,1
24,20421644,70730,51447,0,4,1.0,Box and Whisker,2,2
25,21463988,70730,51469,1,1,1.0,Box and Whisker,3,3
26,21464284,70730,51433,1,1,1.0,Box and Whisker,4,4
27,21464348,70730,51431,1,1,1.0,Box and Whisker,5,5
28,35278766,70733,51460,0,2,1.0,Box and Whisker,1,1
29,35278780,70733,51467,1,1,1.0,Box and Whisker,2,2
...,...,...,...,...,...,...,...,...,...
401726,38213895,96299,61659,0,2,NaN,NaN,29,null
401727,38213897,96299,61660,0,8,NaN,NaN,30,null
401728,38213898,96299,61567,1,1,NaN,NaN,31,null
401729,38213899,96299,61566,0,1,NaN,NaN,32,null
401730,38213901,96299,61626,1,1,NaN,NaN,33,null
401731,38213903,96299,61515,1,1,NaN,NaN,34,null
401732,38213904,96299,61704,0,1,NaN,NaN,35,null
401733,38213905,96299,61516,1,1,NaN,NaN,36,null
401734,38213907,96299,61693,0,1,NaN,NaN,37,null
401735,38213908,96299,61593,0,1,NaN,NaN,38,null
401736,38213911,96299,61594,0,1,NaN,NaN,39,null
401737,38213912,96299,61587,0,1,NaN,NaN,40,null
401738,38213914,96299,61705,0,1,NaN,NaN,41,null
401739,38213915,96299,61540,0,1,NaN,NaN,42,null
401740,38213916,96299,61627,0,11,NaN,NaN,43,null
401741,38213917,96299,61692,0,1,NaN,NaN,44,null
401742,38213918,96299,61588,0,1,NaN,NaN,45,null
401743,38213920,96299,61470,0,1,NaN,NaN,46,null
401744,38213921,96299,61471,0,1,NaN,NaN,47,null
401745,38213922,96299,61539,0,1,NaN,NaN,48,null
401746,38213928,96299,61524,0,6,NaN,NaN,49,null
401747,38213929,96299,61525,0,2,NaN,NaN,50,null
401748,38214004,96299,108980,1,1,NaN,NaN,51,null
401749,38214010,96299,108982,1,2,NaN,NaN,52,null
401750,38214011,96299,108953,1,1,NaN,NaN,53,null
401751,38214014,96299,108976,1,1,NaN,NaN,54,null
401752,38214016,96299,109015,1,1,NaN,NaN,55,null
401753,38214195,96299,54060,1,1,NaN,NaN,56,null
401754,38214196,96299,54061,1,1,NaN,NaN,57,null
401755,38214198,96299,54062,0,9,NaN,NaN,58,null

In [51]:
len(df.query('skill_id != skill_id'))

63755

In [53]:
df.query('problem_id == 61470')['skill_id']

347463   NaN
348241   NaN
352017   NaN
353671   NaN
360116   NaN
365757   NaN
366349   NaN
368026   NaN
368290   NaN
368909   NaN
370132   NaN
377652   NaN
377668   NaN
377950   NaN
378331   NaN
395066   NaN
398818   NaN
401743   NaN
Name: skill_id, dtype: float64

In [55]:
df.query('user_id == 70363')[['order_id', 'problem_id', 'attempt_count', 'correct']]

        order_id  problem_id  attempt_count  correct
2       35450204       51444              2        0
3       35450295       51395              1        1
4       35450311       51481             14        0
5       35450555       51457              1        1
6       35450573       51459              1        1
7       35480603       51408              1        1
3982    35305403       47068              1        0
3983    35305686       47081              0        0
3984    35306351       47044              2        0
3985    35306712       57716              1        1
3986    35307058       57650              0        0
3987    35384917       47108              1        1
3988    35385665       57704              1        1
3989    35397317       57644              1        1
3990    35397465       57716              1        1
10168   35449230       51378              2        0
10169   35449642       51316              2        0
10170   35449882       51332              1        1
10171   35449901       51376              1        1
10172   35450014       51356              1        1
11973   35526865       56108              2        0
11974   35527277       56052              3        0
11975   35527546       56105              2        0
11976   35527698       56054              2        0
11977   35527814       56076              2        0
11978   35528578       56198              1        0
11979   35687767       55989              1        1
11980   35688138       56193              2        0
11981   35688348       56191              1        1
11982   35688490       56185              1        1
...          ...         ...            ...      ...
338179  35393042       47899              1        1
338180  35393739       47877              1        1
338181  35393805       47878              1        1
338182  35393822       47879              1        1
338183  35394090       58363              3        0
338184  35394118       58364              1        1
338185  35394140       58365              1        1
338186  35394188       58366              1        1
338187  35395010       49189              1        1
338188  35395053       49190             45        0
338189  35395324       50767              1        1
338190  35395343       50768              5        0
338191  35395557       50782              1        1
338192  35395587       50783              2        0
338193  35396437       46846              1        1
338194  35396505       46847              1        1
338195  35398293       57820              1        1
338196  35398391       57821              1        1
338197  35398418       57822              3        0
338198  35399970       58130              1        1
338199  35400050       58131              2        0
338200  35400141       58132              2        0
338201  35401565       58133              1        1
338202  35446097       56839              1        1
338203  35446261       56840              4        0
338204  35451708      107977              1        1
338205  35451718      107978              1        1
338206  35451747      107979              1        1
338207  35480089       46831              1        1
338208  35480100       46832              1        0

[413 rows x 4 columns]

In [57]:
len(df.query('user_id == 70363')['problem_id'].unique())

300

In [58]:
len(df.query('user_id == 70363')['order_id'].unique())

302

In [59]:
for i, (line, line2) in enumerate(zip(df['order_id'], df['order_id'].unique())):
    if str(line) != str(line2):
        print(i)
        break

32194

In [61]:
df[32190:32196]

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
32190,38175548,291382,96298,36777,57512,1,1,1,50940,tutor,...,0,0,50940,30041,NaN,6,0,NaN,8,8
32191,38175701,291384,96298,53284,93244,1,1,1,23651,tutor,...,0,2,23651,52497,NaN,23,0,NaN,9,9
32192,38175812,291381,96298,31363,46965,1,1,1,82592,tutor,...,0,0,82592,30304,NaN,92,0,NaN,10,10
32193,38175813,291381,96298,31324,46848,1,0,1,27025,tutor,...,0,0,27065,30328,NaN,248,0,NaN,11,11
32194,21616385,263366,21825,32021,48881,1,0,1,21942,tutor,...,0,0,21962,30244,NaN,20,0,NaN,1,1
32195,21616478,263366,21825,32041,49016,1,1,1,88939,tutor,...,0,0,88939,30244,NaN,14.6,0,NaN,2,2

In [67]:
df['order_id'][32190:32196]

32190    38175548
32191    38175701
32192    38175812
32193    38175813
32194    21616385
32195    21616478
Name: order_id, dtype: int64

In [68]:
df['order_id'].unique()[32190:32196]

array([38175548, 38175701, 38175812, 38175813, 35129136, 32815082])

In [72]:
df.query('order_id == 21616385')[['problem_id', 'skill_id']]

       problem_id  skill_id
19551       48881      10.0
32194       48881      12.0

In [74]:
df.query('problem_id == 48881').sort_values('order_id')

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
19551,21616385,263366,21825,32021,48881,1,0,1,21942,tutor,...,0,0,21962,30244,NaN,20,0,NaN,1,1
32194,21616385,263366,21825,32021,48881,1,0,1,21942,tutor,...,0,0,21962,30244,NaN,20,0,NaN,1,1
33798,22973772,265502,82290,32021,48881,1,0,1,151246,tutor,...,0,0,151296,30244,NaN,116.7,0,NaN,1,1
24164,22973772,265502,82290,32021,48881,1,0,1,151246,tutor,...,0,0,151296,30244,NaN,116.7,0,NaN,1,1
24250,22982323,265502,82314,32021,48881,1,0,1,19205,tutor,...,0,0,19254,30244,NaN,13,0,NaN,1,1
33867,22982323,265502,82314,32021,48881,1,0,1,19205,tutor,...,0,0,19254,30244,NaN,13,0,NaN,1,1
33852,22982515,265502,82309,32021,48881,1,1,1,163894,tutor,...,0,0,163894,30244,NaN,13.6,0,NaN,2,2
24231,22982515,265502,82309,32021,48881,1,1,1,163894,tutor,...,0,0,163894,30244,NaN,13.6,0,NaN,2,2
33814,22982931,265502,82294,32021,48881,1,0,1,46496,tutor,...,0,0,46546,30244,NaN,11.2,0,NaN,5,5
24180,22982931,265502,82294,32021,48881,1,0,1,46496,tutor,...,0,0,46546,30244,NaN,11.2,0,NaN,5,5
33845,22983476,265502,82305,32021,48881,1,1,1,76675,tutor,...,0,0,76675,30244,NaN,13.6,0,NaN,2,2
24226,22983476,265502,82305,32021,48881,1,1,1,76675,tutor,...,0,0,76675,30244,NaN,13.6,0,NaN,2,2
33918,22990592,265502,82343,32021,48881,1,1,1,48014,tutor,...,0,0,48014,30244,NaN,13.6,0,NaN,2,2
24309,22990592,265502,82343,32021,48881,1,1,1,48014,tutor,...,0,0,48014,30244,NaN,13.6,0,NaN,2,2
33915,23593588,265502,82342,32021,48881,1,1,1,54031,tutor,...,0,0,54031,30244,NaN,13.6,0,NaN,3,3
24303,23593588,265502,82342,32021,48881,1,1,1,54031,tutor,...,0,0,54031,30244,NaN,13.6,0,NaN,3,3
33725,23742004,265502,82240,32021,48881,1,0,0,8942,tutor,...,0,0,8942,30244,NaN,NaN,2,NaN,5,5
24076,23742004,265502,82240,32021,48881,1,0,0,8942,tutor,...,0,0,8942,30244,NaN,NaN,2,NaN,5,5
20531,24018927,265533,78034,32021,48881,1,1,1,148147,tutor,...,0,0,148147,30244,NaN,13.6,0,NaN,9,9
32469,24018927,265533,78034,32021,48881,1,1,1,148147,tutor,...,0,0,148147,30244,NaN,13.6,0,NaN,1,1
20680,24032425,265533,78045,32021,48881,1,1,1,105819,tutor,...,0,0,105819,30244,NaN,13.6,0,NaN,14,14
32520,24032425,265533,78045,32021,48881,1,1,1,105819,tutor,...,0,0,105819,30244,NaN,13.6,0,NaN,2,2
20754,24034442,265533,78051,32021,48881,1,0,1,105604,tutor,...,0,0,105745,30244,NaN,14.2,0,NaN,14,14
32540,24034442,265533,78051,32021,48881,1,0,1,105604,tutor,...,0,0,105745,30244,NaN,14.2,0,NaN,3,3
32486,24038290,265533,78038,32021,48881,1,1,1,162306,tutor,...,0,0,162306,30244,NaN,13.6,0,NaN,1,1
20590,24038290,265533,78038,32021,48881,1,1,1,162306,tutor,...,0,0,162306,30244,NaN,13.6,0,NaN,18,18
32232,27839905,220669,70695,32021,48881,1,1,1,33057,tutor,...,0,0,33057,30244,NaN,13.6,0,NaN,3,3
19673,27839905,220669,70695,32021,48881,1,1,1,33057,tutor,...,0,0,33057,30244,NaN,13.6,0,NaN,3,3
21270,30627674,271207,78908,32021,48881,1,0,1,79533,tutor,...,0,0,79561,30244,NaN,14.2,0,NaN,1,1
32751,30627674,271207,78908,32021,48881,1,0,1,79533,tutor,...,0,0,79561,30244,NaN,14.2,0,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34468,35185072,280982,88479,32021,48881,1,0,0,2153,tutor,...,0,0,2153,30244,NaN,NaN,2,NaN,5,5
24554,35185072,280982,88479,32021,48881,1,0,0,2153,tutor,...,0,0,2153,30244,NaN,NaN,2,NaN,12,12
34620,35234369,280982,90652,32021,48881,1,0,0,1380,tutor,...,0,0,1380,30244,NaN,NaN,2,NaN,6,6
24833,35234369,280982,90652,32021,48881,1,0,0,1380,tutor,...,0,0,1380,30244,NaN,NaN,2,NaN,6,6
24613,35247638,281103,88589,32021,48881,1,0,0,936,tutor,...,0,0,936,30244,NaN,NaN,2,NaN,17,17
34501,35247638,281103,88589,32021,48881,1,0,0,936,tutor,...,0,0,936,30244,NaN,NaN,2,NaN,6,6
34531,35312097,281103,89016,32021,48881,1,0,0,47736,tutor,...,0,0,47736,30244,NaN,NaN,2,NaN,7,7
24684,35312097,281103,89016,32021,48881,1,0,0,47736,tutor,...,0,0,47736,30244,NaN,NaN,2,NaN,12,12
20227,35460811,277627,71881,32021,48881,1,1,1,171396,tutor,...,0,0,171396,30244,NaN,13.6,0,NaN,2,2
32418,35460811,277627,71881,32021,48881,1,1,1,171396,tutor,...,0,0,171396,30244,NaN,13.6,0,NaN,2,2
32329,35518075,282728,71205,32021,48881,1,1,1,73262,tutor,...,0,0,73262,30244,NaN,13.6,0,NaN,1,1
19990,35518075,282728,71205,32021,48881,1,1,1,73262,tutor,...,0,0,73262,30244,NaN,13.6,0,NaN,1,1
20055,35529066,282728,71225,32021,48881,1,1,1,49759,tutor,...,0,0,49759,30244,NaN,13.6,0,NaN,2,2
32352,35529066,282728,71225,32021,48881,1,1,1,49759,tutor,...,0,0,49759,30244,NaN,13.6,0,NaN,2,2
32357,35529086,282728,71230,32021,48881,1,1,1,53531,tutor,...,0,0,53531,30244,NaN,13.6,0,NaN,1,1
20068,35529086,282728,71230,32021,48881,1,1,1,53531,tutor,...,0,0,53531,30244,NaN,13.6,0,NaN,1,1
23693,35529828,282728,79890,32021,48881,1,0,0,2078,tutor,...,0,0,2078,30244,NaN,NaN,2,NaN,3,3
33422,35529828,282728,79890,32021,48881,1,0,0,2078,tutor,...,0,0,2078,30244,NaN,NaN,2,NaN,3,3
20066,35530324,282728,71227,32021,48881,1,1,1,95594,tutor,...,0,0,95594,30244,NaN,13.6,0,NaN,7,7
32354,35530324,282728,71227,32021,48881,1,1,1,95594,tutor,...,0,0,95594,30244,NaN,13.6,0,NaN,1,1
24785,35751595,283278,90179,32021,48881,1,1,1,35878,tutor,...,0,0,35878,30244,NaN,13.6,0,NaN,2,2
34607,35751595,283278,90179,32021,48881,1,1,1,35878,tutor,...,0,0,35878,30244,NaN,13.6,0,NaN,2,2
25264,38170258,290772,96231,32021,48881,1,1,1,126016,tutor,...,0,0,126016,30244,NaN,13.6,0,NaN,9,9
34793,38170258,290772,96231,32021,48881,1,1,1,126016,tutor,...,0,0,126016,30244,NaN,13.6,0,NaN,5,5
26345,38212632,290772,96296,32021,48881,1,1,1,39512,tutor,...,0,0,39512,30244,NaN,13.6,0,NaN,9,9
35122,38212632,290772,96296,32021,48881,1,1,1,39512,tutor,...,0,0,39512,30244,NaN,13.6,0,NaN,6,6
24942,38246847,290772,96212,32021,48881,1,1,1,155828,tutor,...,0,0,155828,30244,NaN,13.6,0,NaN,6,6
34665,38246847,290772,96212,32021,48881,1,1,1,155828,tutor,...,0,0,155828,30244,NaN,13.6,0,NaN,2,2
34687,38262925,290772,96216,32021,48881,1,0,1,79533,tutor,...,0,0,79561,30244,NaN,14.2,0,NaN,5,5
25015,38262925,290772,96216,32021,48881,1,0,1,79533,tutor,...,0,0,79561,30244,NaN,14.2,0,NaN,15,15

In [75]:
df.iloc[19551] == df.iloc[32194]

order_id                 True
assignment_id            True
user_id                  True
assistment_id            True
problem_id               True
original                 True
correct                  True
attempt_count            True
ms_first_response        True
tutor_mode               True
answer_type              True
sequence_id              True
student_class_id         True
position                 True
type                     True
base_sequence_id         True
skill_id                False
skill_name              False
teacher_id               True
school_id                True
hint_count               True
hint_total               True
overlap_time             True
template_id              True
answer_id               False
answer_text              True
first_action             True
bottom_hint             False
opportunity              True
opportunity_original     True
dtype: bool

In [77]:
df.iloc[19551][['answer_id', 'bottom_hint']]

answer_id      NaN
bottom_hint    NaN
Name: 19551, dtype: object

In [83]:
df.sort_values('order_id').query('user_id == 21825')[['order_id', 'problem_id', 'skill_id', 'correct', 'opportunity']]

        order_id  problem_id  skill_id  correct  opportunity
32194   21616385       48881      12.0        0            1
19551   21616385       48881      10.0        0            1
338007  21616426       48882       NaN        1            1
338008  21616431       48883       NaN        0            2
338009  21616443       48884       NaN        1            3
19552   21616478       49016      10.0        1            2
32195   21616478       49016      12.0        1            2
32196   21616677       49008      12.0        1            3
19553   21616677       49008      10.0        1            3
19554   21616919       49052      10.0        1            4
32197   21616919       49052      12.0        1            4
19555   21671620       56841      10.0        0            5
35137   21671620       56841      13.0        0            1
338010  21671687       56842       NaN        1            4
338011  21671690       56843       NaN        0            5
19556   21671720       56871      10.0        1            6
35138   21671720       56871      13.0        1            2
35139   21671764       56730      13.0        0            3
19557   21671764       56730      10.0        0            7
252748  23944780       90543     279.0        1            1
252749  23944797       90594     279.0        1            2
252750  23944811       90425     279.0        1            3
252751  23944830       90531     279.0        1            4
252752  23944849       90597     279.0        1            5
252753  23944907       90177     279.0        1            6
252754  23944935       90148     279.0        1            7
252755  23944952       90118     279.0        1            8
252756  23944969       90221     279.0        1            9
252757  23944981       90173     279.0        1           10

In [84]:
for line in np.array(df):
    if 'MasterySection' in str(line):
        print(line)
        break

[33022537 277618 64525 33139 51424 1 1 1 32454 'tutor' 'algebra' 5948 13241
 126 'MasterySection' 5948 1.0 'Box and Whisker' 22763 73 0 3 32454 30799
 nan '26' 0 nan 1 '1']

In [86]:
print(len(df['user_id'].unique()), 'users')
print(len(df['problem_id'].unique()), 'problems')
print(len(df['skill_id'].unique()), 'skills')

4217 users
26688 problems
124 skills

In [90]:
len(df.query('skill_id == skill_id'))

338001

In [91]:
len(df.query('skill_id != skill_id'))

63755

In [89]:
len(df)

401756