In [2]:
import pandas as pd

In [216]:
df = pd.read_csv('/Users/jilljenn/code/TF-recomm/data/skill_builder_data_corrected.csv', engine='python').sort_values('order_id').reset_index()

In [217]:
df.head()

,index,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,274929,20224085,232368,73963,42904,76429,0,0,3,106016,...,0,0,112313,31690,128739.0,NaN,0,NaN,1,NaN
1,274930,20224095,232368,73963,42904,76430,0,1,1,194187,...,0,0,194187,31690,128742.0,NaN,0,NaN,2,NaN
2,274931,20224113,232368,73963,42904,76431,0,1,1,12734,...,0,2,12734,31690,NaN,35,0,NaN,3,NaN
3,274932,20224123,232368,73963,42904,76432,0,1,1,333484,...,0,1,333484,31690,128750.0,NaN,0,NaN,4,NaN
4,274933,20224142,232368,73963,42904,76433,0,0,2,52828,...,2,2,65203,31690,NaN,2.5,0,1.0,5,NaN

In [218]:
df = df.drop_duplicates(['order_id'])

In [219]:
df.shape

(346860, 31)

In [204]:
test = pd.read_csv('/Users/jilljenn/code/TF-recomm/data/assistments42/all.csv', header=None, names='abcde')['c']

In [205]:
test.shape, test2.shape

((346860,), (346860,))

In [208]:
all(np.array(test) == np.array(test2))

True

In [187]:
test.shape

(346860,)

In [191]:
from scipy.sparse import load_npz

load_npz('/Users/jilljenn/code/TF-recomm/data/assistments42/iswf0/X.npz').shape

(346860, 27057)

In [192]:
from scipy.sparse import load_npz

load_npz('/Users/jilljenn/code/TF-recomm/data/assistments42/skill_wins.npz').shape

(346860, 123)

In [4]:
len(df), len(df['order_id'].unique())

(401756, 346860)

In [94]:
len(set(df['user_id']))

4217

In [166]:
len(set(df['problem_id']))

26688

In [10]:
for key in df:
    print(key, len(set(list(df.iloc[:5000][key]))), list(set(df.iloc[:5000][key]))[:5])

order_id 5000 [22134784, 22134786, 33775619, 38273030, 35397639]
assignment_id 73 [220674, 281861, 274949, 283276, 272398]
user_id 576 [96256, 96257, 96258, 96259, 96260]
assistment_id 388 [37055, 37057, 37060, 37061, 37064]
problem_id 388 [47105, 47108, 47111, 47114, 47117]
original 1 [1]
correct 2 [0, 1]
attempt_count 25 [0, 1, 2, 3, 4]
ms_first_response 3870 [8195, 16391, 8200, 57353, 32776]
tutor_mode 2 ['tutor', 'test']
answer_type 1 ['algebra']
sequence_id 18 [7200, 6850, 5916, 6343, 6344]
student_class_id 40 [13577, 12939, 13842, 12437, 12438]
position 46 [128, 1, 2, 3, 4]
type 1 ['MasterySection']
base_sequence_id 14 [7200, 6850, 5916, 6343, 6344]
skill_id 2 [1.0, 2.0]
skill_name 2 ['Circle Graph', 'Box and Whisker']
teacher_id 24 [48003, 28420, 24455, 59912, 60430]
school_id 22 [1, 5256, 1689, 5402, 5413]
hint_count 5 [0, 1, 2, 3, 4]
hint_total 6 [0, 2, 3, 4, 6]
overlap_time 3904 [8195, 16391, 8200, 57353, 32778]
template_id 13 [30790, 30059, 30060, 30799, 30037]
answer_id 5000 [nan, nan, nan, nan, nan]
answer_text 259 [nan, '36.5', '70.5', '76', '60']
first_action 3 [0, 1, 2]
bottom_hint 4109 [nan, nan, 0.0, nan, nan]
opportunity 71 [1, 2, 3, 4, 5]
opportunity_original 71 [1.0, 2.0, 3.0, 4.0, 5.0]

In [97]:
len(encode_row)

346860

In [99]:
len(encode_col)

317003

In [165]:
with open('lololol.txt', 'w') as f:
    features = []
    for feature in sorted(encode_col):
        f.write(feature + '\n')

In [209]:
interesting_count = {'attempt_count', 'hint_count', 'opportunity', 'opportunity_original'}
interesting = {}
interesting['giga'] = set(list(df.keys())) - {'order_id', 'ms_first_response', 'type', 'skill_name', 'overlap_time', 'answer_id', 'bottom_hint', 'correct', 'answer_text', 'user_id'} - interesting_count
interesting['kilo'] = {'first_action', 'problem_id', 'school_id', 'teacher_id', 'skill_id', 'tutor_mode'}
interesting['kiloboss'] = {'first_action', 'school_id', 'teacher_id', 'tutor_mode'}

In [210]:
len(df)

401756

In [211]:
stuff = np.array(df['skill_id'])
print(len(stuff))
shit = [(i, x) for i, x in enumerate(stuff) if x != x]
shit[0]

401756

(31, nan)

In [213]:
np.isnan(shit[0][1])

True

In [220]:
from time import time
dt = time()

TOP = 1000000
rows = []
encode_row = {}
cols = []
encode_col = {}
data = []
nb_rows = 0
nb_cols = 0

def col_encoder(col_id):
    global nb_cols
    k, v = col_id
    col_hash = '{:s}={:s}'.format(k, str(v))
    #try:
    #    col_hash = '{:s}={:d}'.format(k, int(v))
    #except:
    #    col_hash = '{:s}={:s}'.format(k, v)
    if col_hash not in encode_col:
        encode_col[col_hash] = nb_cols
        nb_cols += 1
    return encode_col[col_hash]

def add_entry(row_id, col_id, val):
    rows.append(row_id)
    cols.append(col_id)
    data.append(val)

for i, line in df.iloc[:TOP].iterrows():
    if i % 50000 == 0:
        print(time() - dt, i)
    order_id = line['order_id']
    if order_id not in encode_row:
        encode_row[order_id] = nb_rows
        row_id = encode_row[order_id]
        nb_rows += 1
        
        #for key in {'attempt_count', 'hint_count'}:
        #    col_id = col_encoder((key, line['problem_id']))
        #    add_entry(row_id, col_id, line[key])
        
        #for key in {'opportunity'}:#, 'opportunity_original'}:
        #    if line[key] == line[key] and line['skill_id'] == line['skill_id']:
        #        col_id = col_encoder((key, line['skill_id']))
        #        add_entry(row_id, col_id, line[key])
        
        for key in interesting['kiloboss']:
            col_id = col_encoder((key, line[key]))
            add_entry(row_id, col_id, 1)
    else:  # Multi skill
        print('never happens')
        row_id = encode_row[order_id]
        
        #for key in {'opportunity'}:#, 'opportunity_original'}:  # Only need to add those terms
        #    if line[key] == line[key] and line['skill_id'] == line['skill_id']:
        #        col_id = col_encoder((key, line['skill_id']))
        #        add_entry(row_id, col_id, line[key])

print(len(data))
print(len([x for x in data if x == x]))
            
'Built {:d} x {:d} ({:d} entries) in {:.3f} s'.format(nb_rows, nb_cols, len(data), time() - dt)

0.24897980690002441 0
4.838895082473755 50000
14.375669956207275 150000
18.64182186126709 200000
23.708232879638672 250000
28.941997051239014 300000
33.704636096954346 350000
39.20953702926636 400000
1387440
1387440

'Built 346860 x 233 (1387440 entries) in 39.420 s'

In [221]:
PATH = '/Users/jilljenn/code/TF-recomm/data/assistments42-kiloboss/'
#df.iloc[:TOP][['user_id', 'problem_id', 'correct']].to_csv(PATH + 'all.csv', index=False, header=False)

In [222]:
from scipy.sparse import coo_matrix, save_npz

X = coo_matrix((data, (rows, cols)), shape=(nb_rows, nb_cols)).tocsr()
save_npz(PATH + 'bonus.npz', X)

In [223]:
X.shape

(346860, 233)

In [163]:
import numpy as np

np.save(PATH + 'y.npy', np.array(df['correct']))

In [6]:
df[['order_id', 'user_id', 'problem_id', 'correct', 'attempt_count', 'skill_id', 'skill_name', 'opportunity', 'opportunity_original']].head()

,order_id,user_id,problem_id,correct,attempt_count,skill_id,skill_name,opportunity,opportunity_original
0,33022537,64525,51424,1,1,1.0,Box and Whisker,1,1
1,33022709,64525,51435,1,1,1.0,Box and Whisker,2,2
2,35450204,70363,51444,0,2,1.0,Box and Whisker,1,1
3,35450295,70363,51395,1,1,1.0,Box and Whisker,2,2
4,35450311,70363,51481,0,14,1.0,Box and Whisker,3,3

In [7]:
len(df.query('skill_id != skill_id'))

63755

In [8]:
df.query('problem_id == 61470')['skill_id']

347463   NaN
348241   NaN
352017   NaN
353671   NaN
360116   NaN
365757   NaN
366349   NaN
368026   NaN
368290   NaN
368909   NaN
370132   NaN
377652   NaN
377668   NaN
377950   NaN
378331   NaN
395066   NaN
398818   NaN
401743   NaN
Name: skill_id, dtype: float64

In [9]:
df.query('user_id == 70363')[['order_id', 'problem_id', 'attempt_count', 'correct']]

        order_id  problem_id  attempt_count  correct
2       35450204       51444              2        0
3       35450295       51395              1        1
4       35450311       51481             14        0
5       35450555       51457              1        1
6       35450573       51459              1        1
7       35480603       51408              1        1
3982    35305403       47068              1        0
3983    35305686       47081              0        0
3984    35306351       47044              2        0
3985    35306712       57716              1        1
3986    35307058       57650              0        0
3987    35384917       47108              1        1
3988    35385665       57704              1        1
3989    35397317       57644              1        1
3990    35397465       57716              1        1
10168   35449230       51378              2        0
10169   35449642       51316              2        0
10170   35449882       51332              1        1
10171   35449901       51376              1        1
10172   35450014       51356              1        1
11973   35526865       56108              2        0
11974   35527277       56052              3        0
11975   35527546       56105              2        0
11976   35527698       56054              2        0
11977   35527814       56076              2        0
11978   35528578       56198              1        0
11979   35687767       55989              1        1
11980   35688138       56193              2        0
11981   35688348       56191              1        1
11982   35688490       56185              1        1
...          ...         ...            ...      ...
338179  35393042       47899              1        1
338180  35393739       47877              1        1
338181  35393805       47878              1        1
338182  35393822       47879              1        1
338183  35394090       58363              3        0
338184  35394118       58364              1        1
338185  35394140       58365              1        1
338186  35394188       58366              1        1
338187  35395010       49189              1        1
338188  35395053       49190             45        0
338189  35395324       50767              1        1
338190  35395343       50768              5        0
338191  35395557       50782              1        1
338192  35395587       50783              2        0
338193  35396437       46846              1        1
338194  35396505       46847              1        1
338195  35398293       57820              1        1
338196  35398391       57821              1        1
338197  35398418       57822              3        0
338198  35399970       58130              1        1
338199  35400050       58131              2        0
338200  35400141       58132              2        0
338201  35401565       58133              1        1
338202  35446097       56839              1        1
338203  35446261       56840              4        0
338204  35451708      107977              1        1
338205  35451718      107978              1        1
338206  35451747      107979              1        1
338207  35480089       46831              1        1
338208  35480100       46832              1        0

[413 rows x 4 columns]

In [10]:
len(df.query('user_id == 70363')['problem_id'].unique())

300

In [11]:
len(df.query('user_id == 70363')['order_id'].unique())

302

In [12]:
for i, (line, line2) in enumerate(zip(df['order_id'], df['order_id'].unique())):
    if str(line) != str(line2):
        print(i)
        break

32194

In [13]:
df[32190:32196]

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
32190,38175548,291382,96298,36777,57512,1,1,1,50940,tutor,...,0,0,50940,30041,NaN,6,0,NaN,8,8
32191,38175701,291384,96298,53284,93244,1,1,1,23651,tutor,...,0,2,23651,52497,NaN,23,0,NaN,9,9
32192,38175812,291381,96298,31363,46965,1,1,1,82592,tutor,...,0,0,82592,30304,NaN,92,0,NaN,10,10
32193,38175813,291381,96298,31324,46848,1,0,1,27025,tutor,...,0,0,27065,30328,NaN,248,0,NaN,11,11
32194,21616385,263366,21825,32021,48881,1,0,1,21942,tutor,...,0,0,21962,30244,NaN,20,0,NaN,1,1
32195,21616478,263366,21825,32041,49016,1,1,1,88939,tutor,...,0,0,88939,30244,NaN,14.6,0,NaN,2,2

In [14]:
df['order_id'][32190:32196]

32190    38175548
32191    38175701
32192    38175812
32193    38175813
32194    21616385
32195    21616478
Name: order_id, dtype: int64

In [15]:
df['order_id'].unique()[32190:32196]

array([38175548, 38175701, 38175812, 38175813, 35129136, 32815082])

In [16]:
df.query('order_id == 21616385')[['problem_id', 'skill_id']]

       problem_id  skill_id
19551       48881      10.0
32194       48881      12.0

In [18]:
df.query('problem_id == 48881').sort_values('order_id').head()

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
19551,21616385,263366,21825,32021,48881,1,0,1,21942,tutor,...,0,0,21962,30244,NaN,20,0,NaN,1,1
32194,21616385,263366,21825,32021,48881,1,0,1,21942,tutor,...,0,0,21962,30244,NaN,20,0,NaN,1,1
33798,22973772,265502,82290,32021,48881,1,0,1,151246,tutor,...,0,0,151296,30244,NaN,116.7,0,NaN,1,1
24164,22973772,265502,82290,32021,48881,1,0,1,151246,tutor,...,0,0,151296,30244,NaN,116.7,0,NaN,1,1
24250,22982323,265502,82314,32021,48881,1,0,1,19205,tutor,...,0,0,19254,30244,NaN,13,0,NaN,1,1

In [19]:
df.iloc[19551] == df.iloc[32194]

order_id                 True
assignment_id            True
user_id                  True
assistment_id            True
problem_id               True
original                 True
correct                  True
attempt_count            True
ms_first_response        True
tutor_mode               True
answer_type              True
sequence_id              True
student_class_id         True
position                 True
type                     True
base_sequence_id         True
skill_id                False
skill_name              False
teacher_id               True
school_id                True
hint_count               True
hint_total               True
overlap_time             True
template_id              True
answer_id               False
answer_text              True
first_action             True
bottom_hint             False
opportunity              True
opportunity_original     True
dtype: bool

In [20]:
df.iloc[19551][['answer_id', 'bottom_hint']]

answer_id      NaN
bottom_hint    NaN
Name: 19551, dtype: object

In [21]:
df.sort_values('order_id').query('user_id == 21825')[['order_id', 'problem_id', 'skill_id', 'correct', 'opportunity']]

        order_id  problem_id  skill_id  correct  opportunity
32194   21616385       48881      12.0        0            1
19551   21616385       48881      10.0        0            1
338007  21616426       48882       NaN        1            1
338008  21616431       48883       NaN        0            2
338009  21616443       48884       NaN        1            3
19552   21616478       49016      10.0        1            2
32195   21616478       49016      12.0        1            2
32196   21616677       49008      12.0        1            3
19553   21616677       49008      10.0        1            3
19554   21616919       49052      10.0        1            4
32197   21616919       49052      12.0        1            4
19555   21671620       56841      10.0        0            5
35137   21671620       56841      13.0        0            1
338010  21671687       56842       NaN        1            4
338011  21671690       56843       NaN        0            5
19556   21671720       56871      10.0        1            6
35138   21671720       56871      13.0        1            2
35139   21671764       56730      13.0        0            3
19557   21671764       56730      10.0        0            7
252748  23944780       90543     279.0        1            1
252749  23944797       90594     279.0        1            2
252750  23944811       90425     279.0        1            3
252751  23944830       90531     279.0        1            4
252752  23944849       90597     279.0        1            5
252753  23944907       90177     279.0        1            6
252754  23944935       90148     279.0        1            7
252755  23944952       90118     279.0        1            8
252756  23944969       90221     279.0        1            9
252757  23944981       90173     279.0        1           10

In [23]:
import numpy as np

for line in np.array(df):
    if 'MasterySection' in str(line):
        print(line)
        break

[33022537 277618 64525 33139 51424 1 1 1 32454 'tutor' 'algebra' 5948 13241
 126 'MasterySection' 5948 1.0 'Box and Whisker' 22763 73 0 3 32454 30799
 nan '26' 0 nan 1 '1']

In [24]:
print(len(df['user_id'].unique()), 'users')
print(len(df['problem_id'].unique()), 'problems')
print(len(df['skill_id'].unique()), 'skills')

4217 users
26688 problems
124 skills

In [25]:
len(df.query('skill_id == skill_id'))

338001

In [26]:
len(df.query('skill_id != skill_id'))

63755

In [28]:
len(df)

401756

# Group by Ã  n'en plus finir

In [34]:
from collections import Counter

nb_skills = df[['problem_id', 'skill_id']].drop_duplicates().groupby('problem_id').count().sort_values('skill_id', ascending=False)
Counter(nb_skills['skill_id'])

Counter({0: 8937, 1: 14734, 2: 2620, 3: 316, 4: 81})

In [40]:
data = df.sort_values('order_id')[['order_id', 'user_id', 'problem_id', 'correct']].drop_duplicates()

In [41]:
len(data['order_id']), len(data['order_id'].unique())

(346860, 346860)

In [43]:
len(data['problem_id']), len(data['problem_id'].unique())

(346860, 26688)

In [51]:
# Q-matrix

In [58]:
qmatrix = df[['problem_id', 'skill_id']].drop_duplicates().query('skill_id == skill_id')

In [59]:
# Make sparse q-matrix

In [154]:
data.head()

        order_id  user_id  problem_id  correct  user_id0  problem_id0
274929  20224085    73963       76429        0         0            0
274930  20224095    73963       76430        1         0            1
274931  20224113    73963       76431        1         0            2
274932  20224123    73963       76432        1         0            3
274933  20224142    73963       76433        0         0            4

In [62]:
def renumber(df, field, encoder=None):
    if encoder == None:
        ids = df[field].unique()
        nb = len(ids)
        encoder = dict(zip(ids, range(nb)))
    df[field + '0'] = df[field].map(encoder)
    return encoder, df

In [82]:
encode_user, data = renumber(data, 'user_id')
encode_problem, data = renumber(data, 'problem_id')

In [83]:
_, qmatrix = renumber(qmatrix, 'problem_id', encode_problem)
encode_skill, qmatrix = renumber(qmatrix, 'skill_id')

In [85]:
qmatrix.head()

   problem_id  skill_id  problem_id0  skill_id0
0       51424       1.0         7382          0
1       51435       1.0         7488          0
2       51444       1.0        21950          0
3       51395       1.0         7497          0
4       51481       1.0        21802          0

In [86]:
from scipy.sparse import coo_matrix

rows = qmatrix['problem_id0']
cols = qmatrix['skill_id0']
sp_qmatrix = coo_matrix(([1] * len(rows), (rows, cols)), shape=(len(encode_problem), len(encode_skill))).tocsr()

In [157]:
# Save qmatrix
save_npz('/Users/jilljenn/code/TF-recomm/data/assistments0/qmatrix.npz', sp_qmatrix)

In [87]:
Counter(sp_qmatrix.sum(axis=1).A1)

Counter({0: 8937, 1: 14734, 2: 2620, 3: 316, 4: 81})

In [88]:
# Count number of wins/fails

In [4]:
from scipy.sparse import lil_matrix

dummy = pd.DataFrame([
    [1, 1, 1],
    [1, 1, 0],
    [1, 1, 1],
    [1, 2, 0],
    [1, 2, 1],
    [0, 1, 1],
    [0, 0, 0]
], columns=('user', 'item', 'outcome'))
sp_dummy = lil_matrix((3, 3))
sp_dummy[1, 0] = 1
sp_dummy[1, 1] = 1
sp_dummy[2, 1] = 1
sp_dummy[2, 2] = 1
sp_dummy = sp_dummy.tocsr()

In [5]:
sp_dummy.toarray()

array([[ 0.,  0.,  0.],
       [ 1.,  1.,  0.],
       [ 0.,  1.,  1.]])

In [6]:
from scipy.sparse import save_npz

save_npz('/Users/jilljenn/code/TF-recomm/data/dummy/qmatrix.npz', sp_dummy)

In [155]:
assistments = data[['user_id0', 'problem_id0', 'correct']]
assistments.head()

        user_id0  problem_id0  correct
274929         0            0        0
274930         0            1        1
274931         0            2        1
274932         0            3        1
274933         0            4        0

In [10]:
sp_qmatrix = sp_dummy
assistments = dummy

In [11]:
import numpy as np

nb_users = 2 # len(encode_user) # 2
nb_items = 3 # len(encode_problem) # 3
nb_skills = 3 # len(encode_skill) # 3
count_item_wins = np.zeros((nb_users, nb_items))
count_item_fails = np.zeros((nb_users, nb_items))
count_skill_wins = np.zeros((nb_users, nb_skills))
count_skill_fails = np.zeros((nb_users, nb_skills))
all_skill_wins = []
all_skill_fails = []
all_item_wins = []
all_item_fails = []
for user_id, item_id, outcome in np.array(assistments):
    skill_ids = sp_qmatrix[item_id]
    
    item_wins = count_item_wins[user_id, item_id]
    item_fails = count_item_fails[user_id, item_id]
    all_item_wins.append(item_wins)
    all_item_fails.append(item_fails)
    
    skill_wins = skill_ids.multiply(count_skill_wins[user_id])
    skill_fails = skill_ids.multiply(count_skill_fails[user_id])
    all_skill_wins.append(skill_wins)
    all_skill_fails.append(skill_fails)
    if outcome == 1:
        count_item_wins[user_id, item_id] += 1
        count_skill_wins[user_id, skill_ids.indices] += 1
    else:
        count_item_fails[user_id, item_id] += 1
        count_skill_fails[user_id, skill_ids.indices] += 1

In [12]:
assistments['wins'] = all_item_wins
assistments['fails'] = all_item_fails

In [13]:
dummy.to_csv('/Users/jilljenn/code/TF-recomm/data/dummy/all.csv', index=False, header=False)

In [165]:
assistments.to_csv('/Users/jilljenn/code/TF-recomm/data/assistments0/all.csv', index=False, header=False)

In [14]:
from scipy.sparse import vstack

skill_wins = vstack(all_skill_wins).tocsr()

In [15]:
save_npz('/Users/jilljenn/code/TF-recomm/data/dummy/skill_wins.npz', skill_wins)
skill_wins.shape

(7, 3)

In [16]:
skill_fails = vstack(all_skill_fails).tocsr()
save_npz('/Users/jilljenn/code/TF-recomm/data/dummy/skill_fails.npz', skill_fails)
skill_fails.shape

(7, 3)

In [17]:
count_skill_wins[1], count_skill_fails[1]

(array([ 2.,  3.,  1.]), array([ 1.,  2.,  1.]))

In [170]:
import os.path, yaml

with open(os.path.join('/Users/jilljenn/code/TF-recomm/data/assistments0/', 'config.yml'), 'w') as f:
    config = {
        'USER_NUM': nb_users,
        'ITEM_NUM': nb_items,
    }
    f.write(yaml.dump(config, default_flow_style=False))