In [27]:
import csv
from collections import Counter

In [18]:
import pandas as pd

df = pd.read_csv('/Users/jilljenn/code/TF-recomm/data/assistments.txt', sep=' ', names=['user_id', 'work_id', 'outcome'])

In [25]:
df.head()

   user_id  work_id  outcome
0        0        7        1
1        1       82        0
2        1       82        0
3        1       82        0
4        1       82        0

In [28]:
import numpy as np

acc = Counter()
nb_occ = []
for user_id, work_id, outcome in np.array(df):
    nb_occ.append(acc[user_id, work_id])
    acc[user_id, work_id] += 1

In [30]:
df['nb_occ'] = nb_occ

In [31]:
df.head()

   user_id  work_id  outcome  nb_occ
0        0        7        1       0
1        1       82        0       0
2        1       82        0       1
3        1       82        0       2
4        1       82        0       3

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
train, test = train_test_split(df)

In [40]:
train.to_csv('/tmp/train.csv', header=False, index=False)
test.to_csv('/tmp/val.csv', header=False, index=False)

In [39]:
import yaml

with open('/tmp/config.yml', 'w') as f:
    config = {
        'USER_NUM': len(df['user_id'].unique()),
        'ITEM_NUM': len(df['work_id'].unique()),
        'NB_CLASSES': 2,
        'BATCH_SIZE': len(train)
    }
    f.write(yaml.dump(config, default_flow_style=False))